# Prerequisites
*.d
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
build/*.so
build/*.dylib
build/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
build/*.lai
build/*.la
build/*.a
build/*.lib

# Executables
build/*.exe
build/*.out
build/*.app
build/imgui.ini
# not sure what the debug file is, it generated it for me each time
debug
build/logs.log